/************************************************************/
/** fotter classes goes here ********************************/
/************************************************************/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #133863;
    height: 75px;
}
